.dark-theme {
    --text: #fafafa;
    --bg: #151515;
    --bg2: #202020;
    --input-border: 1px solid #2a2a2a;
    --icon-border: 2px solid #ffffff;
    --accent: #444444;
    --disabled: #888;
    --dropzone-hover: #888;
    --loading: #fff;
    --input-color: #262626;
}

:root {
    --text: #222222;
    --bg: #f0f0f0;
    --bg2: #e1e1e1;
    --input-border: 1px solid #ccc;
    --icon-border: 2px solid #000000;
    --accent: #c4c4c4;
    --disabled: #ccc;
    --loading: #222222;
    --dropzone-hover: #888;
    --input-color: none;
}

img {
    user-select: none;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
    color: var(--text);
    text-align: center;
}

p {
    color: var(--text);
}

.output {
    margin-top: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* Hint input style */

.hint {
    color: var(--text);
    margin-top: 25px;
    width: 100%;
}

#hintInput {
    background-color: var(--input-color);
    color: var(--text);
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    border: var(--input-border);
    width: calc(90% - 60px);
    float: left;
}

#hintInput:focus {
    outline: none;
    border: var(--input-border);
}

/* Upload button style */

#uploadButton {
    padding: 5px;
    border-radius: 50px;
    margin-left: 10px;
    float: right;
    background-color: var(--bg);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: var(--icon-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadButton:hover:not(:disabled) {
    background-color: var(--accent);
}

#uploadButton img {
    padding: 3px;
    width: 28px;
    vertical-align: middle;
}

/* Disabled button style */

#uploadButton:disabled {
    cursor: not-allowed;
    border-color: var(--disabled);
}

#uploadButton:disabled img {
    filter: invert(69%) sepia(0%) saturate(273%) hue-rotate(239deg) brightness(111%) contrast(101%); /* Changes color of the svg to #ccc (--disabled) */
}

/* Dropzone style */

#dropzone {
    position: relative;
    width: 100%;
    height: 20%;
    min-height: 200px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

#dropzone.hover {
    border-color: var(--dropzone-hover);
    background-color: var(--bg2);
}

#fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Image preview style */

.preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.preview {
    position: relative;
    width: 100px;
    height: 100px;
}

.preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}


.hidden {
    display: none; /* Initially hide the SVG */
}

/* Loading animation */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Hide animation initially */
}

.loading {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid var(--loading);
    border-top-color: transparent;
    animation: loading 1s linear infinite;
}

/* Dark mode toggle */

.dark-mode-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

#toggle {
    background-color: rgba(0, 0, 0, 0);
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle:hover {
    transform: scale(1.2);
}

#toggle img {
    padding: 3px;
    width: 50px;
    vertical-align: middle;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 550px) {
    #uploadButton {
        float: left;
        margin-left: 0;
        margin-top: 10px;
    }

    #hintInput {
        width: calc(100% - 24px); /* 24px is the padding */
    }
}

